---
---
<script>
  let mc = document.getElementById('main_content'),
    buffer,
    x = 0,
    u;

  function typeWrite() {
    const msg = buffer;
    x = 0;
    mc.innerHTML = "";
    mc.style.whiteSpace = "pre";
    u = setInterval(() => {
      if (x >= msg.length) {
        clearInterval(u);
      }
      mc.textContent += msg[x] ? msg[x] : "";
      x++;
    }, 25);
  }

  function drawMouse() {
    let canvas = document.createElement('canvas');
    canvas.width = 20;
    canvas.height = 28;
    let c = canvas.getContext('2d');
    c.fillStyle = '#ffffff';
    c.shadowColor = '#ffffff';
    c.shadowBlur = 5;
    c.fillRect(3, 3, 14, 23);
    let url = canvas.toDataURL();
    document.body.style.cursor = "url("+url+") 10 14, auto";
  }

  window.onload = () => {
    buffer = document.getElementById('cv_content').textContent;
    drawMouse();
    typeWrite();
  };
</script>

<div id="main_content"></div>

<div id="cv_content" class="page">C:\> TYPE CV.TXT

name:
rin fhenzig
contacts:
rincel.com
t.me/rinegade_dev
obsessed with computers since i rememver myself,
at 8yo i learned binary code myseflfm,
at 12yo - C++, by 14yp i already knew how create offensive sofotware but realized i dont want to destroy, i want to create 


x.com/rinegade_sol is a relentless dev grinding to become a top 100 GitHub coder in 2025, vibecoding their way to US citizenship while dreaming of fixing India to make the world a thriving garden.

rinegade_sol stirs the pot, slamming global elites, hyping their opensvm project, and debating Russian privacy devs' jail time.

The X community praises @rinegade_sol's $SVMAI project, with @hdegrootvan betting on its success and @metasal_ lauding their builder insights.

> will lick your shoes for gpu node  
-@rinegade_sol



<div id="fgbg"></div>
